.logo{
    height: 90px;
}

.ayrac{
    font-size: 20px;
    margin: 0px 20px;
}

.ust-kisim{
    background-image: url(Resimler/arka1.png.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item a{
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width:992px){
    .ayrac {
        display: none;
    }
}

.yazihosgeldiniz{
    font-size: 50px;
    margin-top: 70px;
    font-family:"Courier New", Courier, monospace;
    font-weight: bolder;
    
}

.yorum{
    font-size: 50px;
}

/* Kısaca Ben Kimim  */
.benkimim{
    font-size: 50px;
}

.h1{
    font-size: 25px;
}

.btn1{
    margin-top: 15px;
}

.m{
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}

/* Yapmaktan Hoşlandıklarım */
.h2{
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}

.yapmaktanhoslandiklarim{
    background-color: coral;
}

.macizlemek{
    margin-top: 20px;
    font-size: 25px;
}

.futboloynamak{
    margin-top: 20px;
    font-size: 25px;
}

.filmizlemek{
    margin-top: 20px;
    font-size: 25px;
}

.oyunoynamak{
    margin-top: 20px;
    font-size: 25px;
}