.logo{
    height: 90px;
}

.ayrac{
    font-size: 20px;
    margin: 0px 20px;
}

.ust-kisim{
    background-image: url(Resimler/arka1.png.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sayfa-baslik{
    font-size: 50px;
    color: rgb(7, 5, 5);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


.ust-kisim-sayfalar{
    background-image: url(Resimler/blur.png.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item a{
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width:992px){
    .ayrac {
        display: none;
    }
}

.yazihosgeldiniz{
    font-size : 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.yorum{
    font-size: 50px;
}

/* Kısaca Ben Kimim  */
.benkimim{
    font-size: 50px;
}

.h1{
    font-size: 25px;
}

.btn1{
    margin-top: 15px;
}

.m{
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}

/* Yapmaktan Hoşlandıklarım */
.h2{
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}

.yapmaktanhoslandiklarim{
    background-color: rgb(181, 171, 193);
}

.macizlemek{
    margin-top: 20px;
    font-size: 25px;
}

.futboloynamak{
    margin-top: 20px;
    font-size: 25px;
}

.filmizlemek{
    margin-top: 20px;
    font-size: 25px;
}

.oyunoynamak{
    margin-top: 20px;
    font-size: 25px;
}

/* Slogan */

.soz{
    font-size : 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.tirnak{
    color: white;
    font-size: 60px;
}

.slogan{
    background-image: url(Resimler/arka1.png.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 400px;
}

/* En alt kısım */

.icons{
    font-size: 35px;
    color: black ;
}

.enalt{
    background-color: rgb(181, 171, 193);
    height: 100px;
}

.logolar{
    height: 100px;
}

/* hakkımda */ 

.hakkimdayazi{
    font-size: 24px;
}